<!doctype html>

<html lang="en">

<head id="head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Lorenzo Good's Blog</title>

	<link rel="stylesheet" href='{{ asset "css/styles.css" }}' type="text/css">

	<meta name="description" content="W Blog" />
</head>

<body>
	<div class="container">
		<header>
			<a class="title">
				<h1>Lorenzo Good's Blog</h1>
			</a>
			<nav>
				<p>
					<a href="/">Home</a>
					<a href="/">About</a>
					<a href="/">Projects</a>
					<a href="/">Archive</a>
				</p>
			</nav>
		</header>


		{{if false}}
	</div>
</body>

</html>
{{end}}
