<!doctype html>

<html lang="en">

<head id="head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{{ if .Title }}
	<title>{{ .Title }} - Lorenzo Good's Blog</title>
	{{ else }}
	<title>Lorenzo Good's Blog</title>
	{{ end }}

	<link rel="stylesheet" href='{{ asset "css/styles.css" }}' type="text/css">

	{{ if .ProseExtra }}
	<link rel="stylesheet" href='{{ asset "css/highlight.css" }}' type="text/css">
	<script src='{{ asset "js/highlight.js" }}' type="module"></script>
	<script src='{{ asset "js/math.js" }}' type="module"></script>
	{{ end }}

	<meta name="description" content={{ .Description }} />
</head>

<body>
	<div class="container">
		<header>
			<a class="title" href="/">
				<h1>Lorenzo Good's Blog</h1>
			</a>
			<nav>
				<p>
					<a href="/">Home</a>
					<a href="/archive">Archive</a>
				</p>
			</nav>
		</header>


		{{if false}}
	</div>
</body>

</html>
{{end}}
