$lg-breakpoint: 1024px;
$md-breakpoint: 900px;
$sm-breakpoint: 768px;
$ss-breakpoint: 640px;
$xs-breakpoint: 414px;

$background-color: #fff;
$heading-color: #222;
$text-color: #444;
$link-color: #3273dc;
$visited-color: #8b6fcb;
$code-background-color: #f2f2f2;
$code-color: #222;
$blockquote-color: #222;
