$lg-breakpoint: 1024px;
$md-breakpoint: 900px;
$sm-breakpoint: 768px;
$sms-breakpoint: 640px;
$xs-breakpoint: 414px;

// Fonts:
$body-font: "Noto Sans", system-ui, sans-serif;

// Colors:
$body-color: #f8f8f8;
$border-primary: #e7e7e7;

$light-color: #777;
